<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Zabudnuté heslo</title>
    </head>
    <body>
        <h1>Blesk registrácia</h1>
        <p>Ďakujeme Vám za registráciu do smart prepravnej spoločnosti Blesk. Registráciu je potrebné potvrdiť - aktivovať. Pre aktivovanie registrácie kliknite na odkaz a budete presmerovaný na stránku, kde sa môžete prihlásiť.</p>
        <a th:href="${activationUrl}" th:target="_blank">Potvrdiť registráciu</a>
    </body>
</html>